.vscode/
__pycache__/
*.egg-info
build
dist

# files from script downloads
data
openfold/resources/
tests/test_data/
.idea/vcs.xml
.idea/openfold.iml
.idea/modules.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/deployment.xml
